body {
  font-family: "DM Sans", sans-serif;
}

h1 {
  font-size: 2rem;
}

table {
  width: 100%;
  margin: 0 auto;
}

table,
th,
td {
  border: 1px solid rgb(203, 203, 203);
  border-collapse: collapse;
  padding: 0.5rem;
}

.table-block-group {
  background-color: rgb(216, 216, 216);
  padding: 1rem;
}

.form-calculator {
  background-color: whitesmoke;
  padding: 0.5rem;
  border: 1px solid rgb(207, 207, 207);
}

p {
  font-size: 1rem;
}
